*.dat
*.out
*.log
*.o
.idea/workspace.xml
build/
cmake-build-debug/CMakeFiles/CMakeTmp/

##########
# Images #
##########
*.png

#########
# latex #
#########

*.fls
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.auxlock
*.snm
*.vrb
*.nav



## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.gz(busy)

*.fig
*eps-converted-to.pdf



*.dropbox
desktop.ini
*.swp
